/* reset.css*/
/* Reset and base styles  */
* {
    padding: 0;
    margin: 0;
    border: none;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Links */

a, a:link {
    text-decoration: none;
}

/* Common */

aside, nav, footer, header, section, main {
    display: block;
}

h1, h2, h3, h4, h5, h6, p {
    font-size: inherit;
    font-weight: inherit;
}

ul, ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

img, svg {
    max-width: 100%;
    height: auto;
}

address {
    font-style: normal;
}

/* Form */

input, textarea, button, select {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
}

input::-ms-clear {
    display: none;
}

button, input[type="submit"] {
    display: inline-block;
    box-shadow: none;
    background-color: transparent;
    background: none;
    cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
    outline: none;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

label {
    cursor: pointer;
}

legend {
    display: block;
}

input[type='file'] {
    max-width: 100%;
}
html,
body {
    font-family: Montserrat, sans-serif;
    color: black;
    font-weight: 500;
    line-height: 24px;
    font-size: 16px;
    height: 100%;
    width: 100%;
}

/* header*/
.header {
    border-bottom: 1px solid #EFF5FB;
    height: 76px;
}

.container {
    position: sticky;
    top: 0;
    max-width: 1240px;
    padding: 0 20px;
    margin: 0 auto;
}

.header__inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header__container-logo-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header__logo {
    margin: 20px 51px 20px 0;
}

.header__menu {
    width: 704px;
}

.header__menu-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
}

.header__menu-item a{
    font-size: 14px;
    font-style: normal;
    color: #333333;
    font-weight: 500;
    line-height: 114%;
    letter-spacing: 0.25px;
}


.header__button {
    padding: 14px 20px;
    background-color: #E3F5F5;
    color: #03B2A5;
    border-radius: 4px;
    border: none;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
}

.header__button:hover {
    background-color: #03B2A5;
    color: #E3F5F5 ;
}

nav ul li:nth-last-child(2)::after {
    content: url('../images/dropdown_arrow.svg');
    margin-left: 8px;
    position: relative;
}

/* footer */

.footer {
    background-color: #2963A3;
    width: 100%;
}

.footer__inner {
    margin-bottom: 17px;
    padding-top: 40px;
    padding-bottom: 17px;
}

.footer__top {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer__options {
    display: flex;
    gap: 166px;
    margin-bottom: 24px;
}

.footer__list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 184px;
}

.footer__list-item {
    color: #FFFFFF;
    font-weight: 700;
    line-height: 24px;
}

.footer__form {
    width: 460px;
}

.footer__form-title{
    font-size: 18px;
    font-weight: 550;
    color: #FFFFFF;
}

.footer__form-email {
    position: relative;
    margin: 8px 0;
    width: 384px;
}

.footer__form-email-info {
    background-color: #FFFFFF;
    width: 100%;
    height: 48px;
    border-radius: 4px;
    border: 1px solid #9D9D9D20;
    padding: 8px 56px 8px 8px;
    box-sizing: border-box;
}
.footer__form-email-info::placeholder {
    font-size: 14px;
    color: #9D9D9D;
    font-style: normal;
    font-weight: 250;
}

.footer__form-email-button {
    position: absolute;
    right: 0;
    top: 0;
    width: 64px;
    height: 48px;
    border-radius: 4px;
    background-color: #03B2A5;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
}

.footer__form-policy {
    font-size: 12px;
    line-height: 18px;
    font-weight: 300;
    letter-spacing: 0.25px;
    opacity: 0.7;
    color: #FFFFFF;
}

.footer__icons-skolkovo {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.footer__icons-networks {
    display: flex;
    flex-direction: row;
    margin-top: 40px;
}

.footer__icons-networks-item {
    margin-right: 16px;
}

.footer__bottom {
    border-top: solid 1px;
    border-top-color: #9D9D9D;
    margin-top: 24px;
}

.footer__bottom-list {
    display: flex;
    flex-direction: row;
    width: 50%;
    margin-top: 17px;
    gap: 48px;
}

.footer__bottom-item {
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    opacity: 0.7;
}
/*main*/
.main-background-image{
    background-image: url("../images/blog.svg");
    background-repeat: no-repeat;
    background-position: center 320px;
    background-size: 100%;
}
.parts-of-page {
    display: flex;
    flex-direction: row;
    margin-top: 16px;
}

.parts-of-page__item a{
    color: #333333B2;
    text-align: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    line-height: 18px;
    letter-spacing: 0.25px;
}

.parts-of-page__item:not(:last-child) {
    margin-right: 4px;
}

.parts-of-page__item img {
    margin-top: 7px;
}

.main__headline {
    margin-top: 30px;
    margin-bottom: 32px;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
}

.main__section-menu {
    display: flex;
    flex-direction: row;
    gap: 8px;
    flex-wrap: wrap;
    align-items: flex-start;
}

.main__section-menu-item a{
    font-size: 14px;
    line-height: 20px;
    border-radius: 24px;
    border: #C1C5CD solid 1px;
    padding: 6px 8px;
    color: #333333;
    font-style: normal;
    font-weight: 500;
}

.main__section-menu-item a:hover {
    border-color: #03B2A5;
}

.main__article-selection {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 24px;
}

.main__article-selection-wrap {
    height: auto;
    overflow: hidden;
    outline: 1px solid #C1C5CD;
    width: 49%;
    position: relative;
    z-index: 1;
    border-radius: 16px;
    background-color: #FFFFFF;
    margin-bottom: 23px;
    max-height: 588px;
    max-width: 499px;
}

.main__article-selection-image {
    width: 100%;
}

.small-image {
    width: 32%;
}

.main__article-selection-category {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    align-items: flex-start;
}

.main__article-selection-item {
    color: #333333;
    font-size: 14px;
    font-style: normal;
    font-weight: 550;
    line-height: 20px;
    border-radius: 24px;
    border: 1px solid #C1C5CD;
    background: #FFFFFFB2;
    padding: 6px 8px;
    margin: 8px 8px;
}
.main__article-selection-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 140px;
    margin-bottom: 68px;
}
.main__article-selection-container:nth-child(1) {
    height: 240px;
}
.main__article-selection-container-heading {
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
    color: #333333;
    padding: 16px 16px 8px 16px;
}

.main__article-selection-container-author {
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.25px;
    color: #494949;
    padding-left: 16px;
    padding-bottom: 8px;
}

.main__article-selection-container-text {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #333333;
    padding: 0 16px 25px 16px;
    height: 352px;
}

.main__article-selection-date {
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.25px;
    color: #868686;
    padding-left: 16px;
    margin-bottom: 20px;
}

.main__inner {
    width: 100%;
}

.main-button-wrap {
    display: flex;
    justify-content: center;
    margin-top: 56px;
    margin-bottom: 96px;
}

.main__button {
    padding: 14px 20px;
    width: 182px;
    background-color: #03B2A5;
    color: #E3F5F5;
    border-radius: 4px;
    border: none;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
}

.main__button:hover {
    background-color: #E3F5F5;
    color: #03B2A5;
}